.register {
    font-family: 'Varela Round', sans-serif;
    background-color: #e7e7e9;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    padding: 1.3%;
    border-radius: 10px;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #e7e7e9;
}

.error {
    color: red;
    text-align: center;
    font-size: small;
}


.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-left .reg-hello-btnLogin {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-bottom: 3%;
    cursor: pointer;
    text-align: center;
}

.register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 73% !important;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 15px;
}

.invalid-input {
    font-size: small;
    color: red;
}

.form-group-error {
    margin-bottom: 1rem;
    border-color: red;
}

.register-left img {
    border-radius: 50%;
    margin-bottom: 5%;
    width: 55%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.register-form {
    text-align: center;
}

.btnRegister {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 30%;
    cursor: pointer;
}

.btnRegister .fas {
    margin-right: 10px;
}

.btnRegister:hover {
    transform: scale(1.1, 1.1);
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
    font-size: 35px;
}

.nav-link {
    border: none;
}

/* The message box is shown when the user clicks on the password field */
#message {
    width: 65%;
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    margin: 10px auto;
    text-align: center;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

@media (max-width: 1200px) {
    #message {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .register img {
        width: 15% !important;
        height: 25%;
    }

    .register-right {
        width: 90% !important;
        margin: auto;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #message {
        width: 85%;
    }
}

@media (max-width: 576px) {
    .register-left {
        margin-bottom: 15px;
    }

    .register-right {
        width: 90% !important;
        margin-left: 5%;
    }
}

@media (max-width: 380px) {
    #message {
        width: 100%;
    }
}